body {
  background-color: #434242;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

.nav {
  background-color: #45567d;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  justify-content: right;  
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 30px;
  font-size: 20px; 
}

#navbar ul li {
  display: inline;
  padding: 20px;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 50%;
  font-size: 25px;
  font-weight: 100;
  font-family: "Arial", sans-serif;
}

#navbar ul li:hover {
  background: pink;
} 

#welcome-section {
  text-align: center;
  padding: 100px;
}

h1 {
  color: #000000;
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", sans-serif;
  margin: 50px auto 20px auto;
}

#headshot {
  border-radius: 50%;
  border: 5px solid #000;
  margin: 20px;
}

h2 {
  color: red;
  display: block;
  text-align: center;
  font-size: 1.56rem;
  font-weight: bold;
  width: 50%;
  margin: 20px auto;
 }

.project-section {
  background-color: #45567d;
  padding: 10px 100px;
  margin-top: 0;
  display: block;
  text-align: center;
}

.caption {
  color: #fff;
  text-decoration: underline;
  margin-bottom: 50px;
  font-size: 3rem;
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  max-width: 1280px
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
  box-sizing: inherit;
}

.projects-box a {
  padding: 30px;
}

.project-tile {
  height: 400px;
  width: 400px; 
  display: block;
}

#profile-link {
  text-decoration: none;
  width: 100%;
}

.project-title {
  font-size: 2rem;
  background-color: #303841;
  color: #fff;
  padding: 50px 0;
  width: 400px; 
  box-sizing: inherit;
  display: block;
  margin: 0;
}

.contact-section {
  background-color: #434242;
  padding: 30px;
}

.contact-me {
  font-size: 2em;
  margin-top: 0;
  padding: 0;
  color: #fff;
}

.contact-links {
  font-size: 2rem;
  padding: 30px;
}

.contact-links a {
  color: #fff;
  padding: 0 30px;
}

footer {
  background-color:#434242;
  font-size: 1rem;
  padding: 32px;
  border-top: 4px solid red;
  text-align: right;
}

footer p {
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
}

.create {
  padding-right: 100px;
}

span {
  color: #fff;
  margin-left: 5px;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #CBEDD5;
  }
}
